<h2>Task List</h2>

<div>
    <div *ngIf="!buttonFlag">
        <button (click)="add()" type="submit"><span class="add">+</span>タスクを追加します</button>
    </div>
    <div *ngIf="buttonFlag">
        <button (click)="close()">閉じる</button>
        <app-detail-input></app-detail-input>
    </div>
</div>

<ul class="lists">
    <li *ngFor="let list of lists" (click)="onSelect(list)">
        <span class="badge">{{list.id}}</span> {{list.name}}
        <div *ngIf="selectedList === list">
            <app-detail-input [list]="selectedList"></app-detail-input>
        </div>
    </li>
</ul>
